<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jxnflzc.firststudy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <permission
        android:name="com.jxnflzc.firststudy.permision"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirDayActivity">
            <intent-filter>
                <action android:name="android.intent.action.FIRST_DAY_STUDY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ListViewTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.LIST_VIEW_TEST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SecDayActivity">
            <intent-filter>
                <action android:name="android.intent.action.SECOND_DAY_STUDY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ReceiverTestOne"
            android:enabled="true"
            android:exported="true"
            android:permission="com.jxnflzc.firststudy.permision">
            <intent-filter>
                <action android:name="MBC" />
            </intent-filter>
        </receiver>

        <activity android:name=".ThiDayActivity"></activity>
    </application>

</manifest>